{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
    <title>Lista de Laboratorios</title>
</head>

<body>
    {% block content %}
    <div class="barra-superior">
        <a href="{% url 'laboratorios' %}">&#x1F860; Volver</a>
    </div>
    <div class="cuerpo-tarjeta">
        <h1>{{ titulo }} </h1> <!-- Título dinámico -->
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="boton" type="submit" value="{{ boton_texto }}"> <!-- Texto del botón -->
        </form>
    </div>
    {% endblock content %}
</body>

</html>